:root {
  --fs-sm: .75rem;
  --fs-md: 1rem;
  --fs-lg: 2rem;
  --mid-blue: #1E213A;
  --dark-blue: #100E1D;


}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .4rem;

}


.app {
  /* background-color: rgb(195, 216, 216); */

}

body {
  line-height: 1.6;
}

img {
  max-width: 100%
}

meter {
  display: block;
  width: 80%
}

/***********************************************utility classes*************************************************************** */
.flow-05 {
  margin-block-end: 0.5rem;
}


.flow-1 {
  margin-block-end: 1rem;
}


.flow-2 {
  margin-block-end: 2rem;
}



.flow-3 {
  margin-block-end: 3rem;
}


.flow-4 {
  margin-block-end: 4rem;
}


.flex {
  display: flex;
}

.flex-just-cen {
  justify-content: center;

}

.mg-1{
  margin-inline-start: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: var(--gap, .4rem)
}

.gap-1 {
  gap: var(--gap, 1rem)
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

/* **************************************************************************************************************** */



.search-button {
  justify-content: space-between;
}

.loc-icon {
  border-radius: px;
}

.top-section {
  max-width: 28.688rem;
  display: flex;
  flex-direction: column;
  background: var(--mid-blue);
  position: relative;
  padding-bottom: 5rem;

}



.top-section::before {
  content: "";
  position: absolute;
  background-image: url(./photos/Cloud-background.png );
  background-size: 30rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .03;

}



/***************************** mid-section****************************************************** */

.mid-section {
  padding: 3rem 0;
  background-color: var(--dark-blue);
  max-width: 28.688rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-block-end: 7rem;
}

.stat {
  font-size: 4rem;
}

.percent {
  font-size: .75rem;
  gap: 5rem;
}

.mid-article {
  padding-inline: 3rem;
  justify-content: space-between;

}
