:root {
  --fs-sm: .75rem;
  --fs-md: 1rem;
  --fs-lg: 2rem;
  --mid-blue: #1E213A;
  --dark-blue: #100E1D;
  --norm-blue: #3C47E9
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .4rem;

}


.app {
  /* background-color: rgb(195, 216, 216); */

}

body {
  line-height: 1.6;

}

img {
  max-width: 100%
}

meter {
  display: block;
  width: 80%
}

/***********************************************utility classes*************************************************************** */
.flow-05 {
  margin-block-end: 0.5rem;
}


.flow-1 {
  margin-block-end: 1rem;
}


.flow-2 {
  margin-block-end: 2rem;
}



.flow-3 {
  margin-block-end: 3rem;
}


.flow-4 {
  margin-block-end: 4rem;
}


.flex {
  display: flex;
}

.flex-just-cen {
  justify-content: center;

}

.mg-1 {
  margin-inline-start: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: var(--gap, .4rem)
}

.gap-1 {
  gap: var(--gap, 1rem)
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

/* **************************************************************************************************************** */

.heading {
  margin-inline-start: 2rem;
}

.search-button {
  justify-content: space-between;
}

.loc-icon {
  border-radius: px;
}

.top-section {
  max-width: 28.688rem;
  display: flex;
  flex-direction: column;
  background: var(--mid-blue);
  position: relative;
  padding-bottom: 5rem;
  z-index: 1;

}



.top-section::before {
  content: "";
  position: absolute;
  background-image: url(./photos/Cloud-background.png );
  background-size: 30rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .03;

}



/***************************** mid-section****************************************************** */

.mid-section {
  padding: 3rem 0;
  background-color: var(--dark-blue);
  max-width: 28.688rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-block-end: 2rem;

}

.stat {
  font-size: 4rem;
}

.stat-card img {
  width: 60%
}

.percent {
  font-size: .75rem;
  gap: 5rem;
}

.mid-article {
  padding-inline: 3rem;
  justify-content: space-between;

}


/********************************* search component********************************** */
.search {
  width: 100%;
  background-color: var(--mid-blue);
  justify-content: space-between;
  padding: 1rem 1rem;
  /* background-color: lightblue; */
  height: 40rem;
  transition: height 300ms ease-in-out 200ms;
  display: none;
  height: 0;
  z-index: -3;
  position: absolute;
}





.reveal-search {
  display: block;
  height: 100vh;
  z-index: 3;
}

.search input[type=text] {

  padding: .80rem;
  max-width: 350px;
  width: 100%;
  background-color: var(--mid-blue);
  border-color: lightgray;
  border-style: solid;
  outline: none;

}

::placeholder {
  padding-left: 2rem;
}




.button-cont {
  width: 20%;
  margin-inline-end: 1rem;
}

.button-cont>button {
  padding: .75rem;
  color: white;
  background-color: var(--norm-blue);
  border-color: var(--norm-blue);
  outline: none;
  width: 100%;
  min-width: 4.6rem;

}



.search-cont {
  position: relative;
  width: 65%;
}

.search>form {
  justify-content: space-between;
}

.search-cont>svg {
  position: absolute;
  top: .75rem;
  left: 1rem;
  color: grey
}

.search-cont input {
  color: white;
}

.search-cont input:focus::placeholder {
  color: transparent;
}



.search-loc {

  position: relative;
  border: 1px solid gray;
  padding: 1rem;
  width: 95%;
  text-align: start;
  color: white;
  background-color: var(--mid-blue);
}

.search-loc>button {
  width: 100%;
  height: 100%;

}



.search-loc .claret {
  position: absolute;
  right: 0.75rem;
}

.search-loc:hover {
  border: 1px solid var(--norm-blue);
}

.close-cont {

  width: 100%;
  background-color: white;
  margin-block-end: 3rem;

}

.close-button {
  width: 100%;



}

.close-cont button {
  position: absolute;
  right: 2rem;
  color: white;
  border: none;
  background-color: var(--mid-blue);
  cursor: pointer;

}


@media screen and (min-width:900px) {
  .container {
    display: flex;
    background-color: aqua;
    width: 100%;
    min-height: 100vh;
  }

  .top-section {
    width: 100%
  }

  .mid-section {
    max-width: unset;
    padding: unset;
    padding-block-start: 6rem;
  }

  .weather-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: flex-start;
    gap: 3rem;
  }

  .mid-article {
    justify-content: flex-start;
  }


}
